.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: white;
    color: black; 
    align: center;
}

#collage {
    margin: 160px;
}

#navbar {
    background-color:rgb(176, 133, 48);
}

body {
    background-color: rgb(176, 133, 48);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande'
}
