.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: white;
    color: black; 
}

.navbar-nav{
    margin-left:28rem;
    background-image: linear-gradient(to right, #ba8211, #795610, #51390a);
}

body {
    background-color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
    background-color: #ba8211; 
}

.socialMedia {
    background-color: white;
}

.intro {
    margin: 60px;
}