.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: white;
    color: black; 
}

.navbar-nav{
    margin-left:28rem;
}

body {
    background-color: rgb(176, 133, 48);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande'
}
